
		<link rel="stylesheet" href="../../../assets/css/about.css" />
		<link rel="stylesheet" href="../../../assets/css/reset.css"> <!-- CSS reset -->
		<link rel="stylesheet" href="../../../assets/css/style.css"> <!-- Resource style -->
		<link rel="stylesheet" href="../../../assets/css/sweetalert.css">
    <link rel="stylesheet" href="../../assets/css/normalize.css">
    <link rel="stylesheet" href="../../assets/css/main2.css">

		<script src="../../../assets/js/modernizr.js"></script> <!-- Modernizr -->
    	<script src="../../../assets/js/jquery.min.js"></script>

	<nav class="cd-stretchy-nav">
			<a class="cd-nav-trigger" href="#0">
				<span aria-hidden="true"></span>
			</a>

			<ul>
				<li><a href="/" class="active"><span>HomePage</span></a></li>
				<li ng-hide = "isLoggedIn()"><a href="/register"><span>Sign Up</span></a></li>
				<li ng-show = "isLoggedIn()"><a href="/login"><span>Sign In</span></a></li>
				<li><a href="/faqs"><span>FAQs</span></a></li>
			</ul>

			<span aria-hidden="true" class="stretchy-nav-bg"></span>
		</nav>

	<div class="landing">
			<div id="page-wrapper">

					<section id="two" class="wrapper alt style2">
						<section class="spotlight">
							<div class="image"><img src="../../../images/shazly.jpg" alt="" /></div><div class="content">
								<h2>Omar Alshazly<br></br></h2>
								<p style="color:#21b2a6">Frontend</p>
							</div>
						</section>
				<section class="spotlight">
								<div class="image"><img src="../../../images/seif.jpg" alt="" /></div><div class="content">
									<h2>Seif Hussam<br></br></h2>
									<p style="color:#21b2a6">Frontend</p>
								</div>
							</section>
							<section class="spotlight">
								<div class="image"><img src="../../../images/bavly.jpg" alt="" /></div><div class="content">
									<h2>Bavly Emad<br></br></h2>
									<p style="color:#21b2a6">Backend/Frontend</p>
								</div>
							</section>
							<section class="spotlight">
									<div class="image"><img src="../../../images/barayez.jpg" alt="" /></div><div class="content">
										<h2>Michael Sherif<br></br></h2>
										<p style="color:#21b2a6">Backend</p>
									</div>
								</section>	<section class="spotlight">
										<div class="image"><img src="../../../images/sherif.jpg" alt="" /></div><div class="content">
											<h2>Mohamed Sherif <br></br></h2>
											<p style="color:#21b2a6">Backend</p>
										</div>
									</section>	<section class="spotlight">
											<div class="image"><img src="../../../images/fox.jpg" alt="" /></div><div class="content">
												<h2>Ahmed Fox<br></br></h2>
												<p style="color:#21b2a6">Backend</p>
											</div>
										</section>	<section class="spotlight">
												<div class="image"><img src="../../../images/youssefA.jpg" alt="" /></div><div class="content">
													<h2>Youssef Ayman<br></br></h2>
													<p style="color:#21b2a6">Backend</p>
												</div>
											</section>
						<section class="spotlight">
							<div class="image"><img src="../../../images/youssefI.jpg" alt="" /></div><div class="content">
								<h2>Youssef Ibrahim<br></br></h2>
								<p style="color:#21b2a6">Frontend</p>
							</div>
						</section>
						<section class="spotlight">
							<div class="image"><img src="../../../images/sasa.jpg" alt="" /></div><div class="content">
								<h2>Sara Nagui<br></br></h2>
								<p style="color:#21b2a6">Frontend</p>
							</div>
						</section>
						<section class="spotlight">
							<div class="image"><img src="../../../images/nadeen.jpg" alt="" /></div><div class="content">
								<h2>Nadeen Ghali<br></br></h2>
								<p style="color:#21b2a6">Frontend</p>
							</div>
						</section>
					</section>





			</div>

	</div>
			<script src="../../../assets/js/jquery-2.1.4.js"></script>
			<script src="../../../assets/js/jquery.min.js"></script>
			<script src="../../../assets/js/jquery.dropotron.min.js"></script>
			<script src="../../../assets/js/jquery.scrolly.min.js"></script>
			<script src="../../../assets/js/jquery.onvisible.min.js"></script>
			<script src="../../../assets/js/skel.min.js"></script>
			<script src="../../../assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="../../../assets/js/main.js"></script>
